In [23]:
#import the packages and read the data 
import pandas as pd
import numpy as np
import seaborn as sns
import datetime
import matplotlib.pyplot as plt



# Important code to convert url to csv in python

# import urllib.request

#
# url = 'https://storage.googleapis.com/kaggle-datasets/705/1325/database.csv?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1526554405&Signature=EFIf2PtaOsn6b9brcMWCG5xC9U6PqFbWm8K4DPxvNdItzPY5%2Bo%2B6QucQl44QJRiL6RPXenbDy0MhOGwLwcE6QVELWVWJpKrpbUMKs%2BusjqDKD3KLC25g59RfJ4aYqy9ZzjCDRbc2H0PJUhHUdOE5dTjKtQx2QkB2Ni51CBQUOooTfZB41w96nHZt2YRlZp8G3dRhE%2F25RJGx8DG0YqqMtEVdrpR6GYxrLYrZ8ej7b7Si8vND%2FDujgTwK5QlfJ86wonTsLKlE3VkK6W6bE0batRMsJcZsn2Daknsalznfc%2B7mpKNR5nL9OPWxyBcJsLB3FCBYUudzN2q4Ue5VOUtlKw%3D%3D'
# csv = urllib.request.urlopen(url).read() # returns type 'bytes'
# with open('/Users/apple/Desktop/BeuthData/Beuth-Lecture-2ndSem/DataSciencApplicatons/DropData/volcanic-eruptions.csv', 'wb') as fx: # bytes, hence mode 'wb'
#    fx.write(csv)
#

#
# url = 'https://storage.googleapis.com/kaggle-datasets/686/1296/catalog.csv?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1526555182&Signature=mqg%2FZwvNTt5a2QFKmRCCgRWhovBK31qQos2emuXFqJeZt5MsFw36rdreNMiSRovluIatROg1Gxo%2FGcjUQDEP1Cnun76dMhDpMURdhNddZYiX62VC%2FaRz7w%2B4Qb1x4jM1wojTOkpBYJSSV4TEBvxoAcGWCH2mhFyUM9r%2Fujq3CPcd4oLRdc80lsbZA5QKSkXPfyaoQpfc8AYJrPNvAZ51AobgPyJ3BV%2BAAAQwRAcDnbcFze8JfAueatiZVkoapwEfsNPvSk0UXIo%2Bfdmb3ZDZe%2BEJAwcH94wZm%2BxQm1mU9gUSEHHt1zBf%2F6DFFaNHJ1SIOggYIzVxVuontI28oijT4g%3D%3D'
# csv = urllib.request.urlopen(url).read() # returns type 'bytes'
# with open('/Users/apple/Desktop/BeuthData/Beuth-Lecture-2ndSem/DataSciencApplicatons/DropData/landslide-events.csv', 'wb') as fx: # bytes, hence mode 'wb'
#    fx.write(csv)

# read in our data
earthquakes = pd.read_csv("earthquake-database.csv")
landslides = pd.read_csv("landslide-events.csv")
volcanos = pd.read_csv("volcanic-eruptions.csv")

# set seed for reproducibility
np.random.seed(0)

In [24]:
# print first few rows of the date column
print(landslides['date'].head())

0     3/2/07
1    3/22/07
2     4/6/07
3    4/14/07
4    4/15/07
Name: date, dtype: object

In [25]:
# print last few rows of the date column
print(landslides['date'].tail())

1688    12/7/15
1689    2/22/16
1690    2/23/16
1691    2/26/16
1692     3/2/16
Name: date, dtype: object

In [26]:
# check the data type of our date column

#A character code (one of ‘biufcmMOSUV’) identifying the general kind of data.

#b	boolean
#i	signed integer
#u	unsigned integer
#f	floating-point
#c	complex floating-point
#m	timedelta
#M	datetime
#O	object
#S	(byte-)string
#U	Unicode
#V	void

landslides['date'].dtype

dtype('O')

In [27]:
# create a new column, date_parsed, with the parsed dates
landslides['date_parsed'] = pd.to_datetime(landslides['date'], format = "%m/%d/%y")

In [28]:
# print the first few rows
landslides['date_parsed'].head()

0   2007-03-02
1   2007-03-22
2   2007-04-06
3   2007-04-14
4   2007-04-15
Name: date_parsed, dtype: datetime64[ns]

In [29]:
# print the last few rows
landslides['date_parsed'].tail()

1688   2015-12-07
1689   2016-02-22
1690   2016-02-23
1691   2016-02-26
1692   2016-03-02
Name: date_parsed, dtype: datetime64[ns]

In [30]:
## Convert our date columns to datetime
# * 1/17/07 has the format "%m/%d/%y"
#* 17-1-2007 has the format "%d-%m-%Y"
# create a new column, date_parsed, with the parsed dates
landslides['date_parsed'] = pd.to_datetime(landslides['date'], format = "%m/%d/%y")
landslides['date']

0         3/2/07
1        3/22/07
2         4/6/07
3        4/14/07
4        4/15/07
5        4/20/07
6        4/24/07
7        5/21/07
8        6/27/07
9        6/27/07
10       6/27/07
11        7/1/07
12        7/4/07
13        7/8/07
14       7/13/07
15       7/24/07
16        8/9/07
17       8/11/07
18       8/14/07
19       8/17/07
20       8/18/07
21       8/18/07
22       8/18/07
23       8/19/07
24       8/19/07
25       8/20/07
26       8/21/07
27       8/21/07
28       8/23/07
29        9/1/07
          ...
1663     9/17/15
1664     9/10/15
1665     8/31/15
1666     8/31/15
1667     9/22/15
1668      5/9/15
1669     5/23/15
1670    10/21/15
1671    10/21/15
1672     9/12/15
1673    10/15/15
1674     2/24/16
1675     2/24/16
1676     2/15/16
1677     2/24/16
1678     2/21/16
1679     2/24/16
1680     1/28/16
1681     2/24/16
1682     2/27/16
1683     2/27/16
1684     2/14/16
1685     2/26/16
1686     2/27/16
1687    11/29/15
1688     12/7/15
1689     2/22/16
1690     2/23/16
1691     2/26/16
1692      3/2/16
Name: date, Length: 1693, dtype: object

In [33]:
#check that data type is datetime64 instead of object 
print(landslides['date_parsed'].head())

print(landslides['date_parsed'].tail())

0   2007-03-02
1   2007-03-22
2   2007-04-06
3   2007-04-14
4   2007-04-15
Name: date_parsed, dtype: datetime64[ns]
1688   2015-12-07
1689   2016-02-22
1690   2016-02-23
1691   2016-02-26
1692   2016-03-02
Name: date_parsed, dtype: datetime64[ns]

In [37]:
#with infer_datetime_format , not always recommended 
earthquakes['date_parsed'] = pd.to_datetime(earthquakes['Date'], infer_datetime_format=True)
#or:

#reformating 'Date' for 3 Dates objects 
display(earthquakes.loc[[3378, 7512, 20650]])
earthquakes.loc[3378, 'Date']= '02/23/1975' 
earthquakes.loc[7512, 'Date']= '04/28/1985'
earthquakes.loc[20650, 'Date']= '03/13/2011' 
#display the results for those 3 Dates objects to make sure of new format
display(earthquakes.loc[[3378, 7512, 20650]])
#create new column Date_parsed , parsing new format of ['Date] to ['Date_parsed']
earthquakes['Date_parsed'] = pd.to_datetime(earthquakes['Date'],format = "%m/%d/%Y")
#earthquakes['Date'].head()  #Name: Date, dtype: object
earthquakes['Date_parsed'].head() #Name: Date_parsed, dtype: datetime64[ns]

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status,date_parsed,Date_parsed
3378,02/23/1975,1975-02-23T02:58:41.000Z,8.017,124.075,Earthquake,623.0,NaN,NaN,5.6,MB,...,NaN,NaN,NaN,USP0000A09,US,US,US,Reviewed,1975-02-23,1975-02-23
7512,04/28/1985,1985-04-28T02:53:41.530Z,-32.998,-71.766,Earthquake,33.0,NaN,NaN,5.6,MW,...,NaN,NaN,1.30,USP0002E81,US,US,HRV,Reviewed,1985-04-28,1985-04-28
20650,03/13/2011,2011-03-13T02:23:34.520Z,36.344,142.344,Earthquake,10.1,13.9,289.0,5.8,MWC,...,NaN,NaN,1.06,USP000HWQP,US,US,GCMT,Reviewed,2011-03-13,2011-03-13

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status,date_parsed,Date_parsed
3378,02/23/1975,1975-02-23T02:58:41.000Z,8.017,124.075,Earthquake,623.0,NaN,NaN,5.6,MB,...,NaN,NaN,NaN,USP0000A09,US,US,US,Reviewed,1975-02-23,1975-02-23
7512,04/28/1985,1985-04-28T02:53:41.530Z,-32.998,-71.766,Earthquake,33.0,NaN,NaN,5.6,MW,...,NaN,NaN,1.30,USP0002E81,US,US,HRV,Reviewed,1985-04-28,1985-04-28
20650,03/13/2011,2011-03-13T02:23:34.520Z,36.344,142.344,Earthquake,10.1,13.9,289.0,5.8,MWC,...,NaN,NaN,1.06,USP000HWQP,US,US,GCMT,Reviewed,2011-03-13,2011-03-13

0   1965-01-02
1   1965-01-04
2   1965-01-05
3   1965-01-08
4   1965-01-09
Name: Date_parsed, dtype: datetime64[ns]

In [38]:
#it didnt work becouse dt.day words with dtype: datetime, not with object 
#and thats why we will use Date_parsed columns that we create parsed before 
day_of_month_landslides = landslides['date_parsed'].dt.day
day_of_month_landslides.head()

0     2.0
1    22.0
2     6.0
3    14.0
4    15.0
Name: date_parsed, dtype: float64

In [39]:
# Your turn! get the day of the month from the date_parsed column - earthquakes
day_of_month_earthquakes = earthquakes['Date_parsed'].dt.day
day_of_month_earthquakes.head()

0    2
1    4
2    5
3    8
4    9
Name: Date_parsed, dtype: int64

In [40]:
#Plot the day of the month to check the date parsing¶
#With a dip on 31 because not all months have 31 days.
# remove na's
day_of_month_landslides = day_of_month_landslides.dropna()

# plot the day of the month
sns.distplot(day_of_month_landslides, kde=False, bins=31)

In [41]:
## Your turn! Plot the days of the month from your
# earthquake dataset and make sure they make sense.
    
day_of_month_earthquakes = day_of_month_earthquakes.dropna()

sns.distplot(day_of_month_earthquakes,kde=False,bins=31)